{% extends 'default/index.html.twig' %}

{% block body %}
    <h2>Devenez Dresseur dès maintenant !</h2>

    {{ form(form, {'method': 'POST'}) }}

    {{ form_start(form) }}
    {{ form_errors(form) }}
<div class="login-form">
    {{ form_row(form.login) }}
    {{ form_row(form.email) }}
    {{ form_row(form.password) }}
    {{ form_row(form.conf_password) }}
    {{ form_row(form.pokemon) }}
</div>
    {{ form_row(form.submit) }}
    {{ form_end(form) }}

{% endblock %}