{% extends 'base.html.twig' %}

{% block class %}detail{% endblock %}

{% block body %}
    <div class="pokemon-detail">
        <img src="http://assets.pokemon.com/assets/cms2/img/pokedex/full/{{ "%03d" | format(pokemon.numero) }}.png">

        <div>
            <h2>{{ pokemon.nom }}<span>#{{ pokemon.id }}</h2>

            <p>
                <span class="number">Pokémon N°{{ pokemon.numero }}</span> &middot;
                <span class="evolution">{{ pokemon.evolution }}</span>
            </p>

            <ul class="types">
                {% for type in pokemon.types %}
                    {% if type != "" %}
                        <li>{{ type }}</li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    </div>

    <ul class="stats">
        <li class="stat-gender {{ pokemon.sexe | lower }}>"><i class="fa fa-fw fa-{% if pokemon.sexe == "Male" %}mars{% else %}venus{% endif %}"></i></li>
        <li class="stat-level"><span>Niveau</span><span>{{ pokemon.niveau }}</span></li>
        <li class="stat-xp">
            <div id="xp-graph"></div>
            <div class="inner">
                <div><span>{{ pokemon.xp }}</span><span>{{ pokemon.ceilxp }}</span></div>
                <div>XP</div>
            </div>
        </li>
    </ul>

    <script src="https://rawgit.com/kimmobrunfeldt/progressbar.js/1.0.0/dist/progressbar.js"></script>

    <script>
        var XP = {{ pokemon.xp }},
                XPMax = {{ pokemon.ceilxp }};

        window.addEventListener("load", function() {
            var bar = new ProgressBar.Circle('#xp-graph', {
                strokeWidth: 5,
                easing: 'easeInOut',
                duration: 1400,
                color: '#DD2828',
                trailColor: '#CCC',
                trailWidth: 1,
                svgStyle: null
            });

            bar.animate(XP / XPMax);
        })
    </script>

    <div class="actions">
        {% if pokemon.enVente == false %}
            {% if pokemon.timeToTrain %}
                <span class="training-wait">
                    <i class="fa fa-fw fa-clock-o"></i>
                    {{ pokemon.timeToTrain }} minutes
                </span>
            {% else %}
                <a href='{{ path('entrainer', {'id' : pokemon.id}) }}'>Entraîner</a>
            {% endif %}
            <a href='{{ path('mettre_en_vente', {'id' : pokemon.id}) }}'>Mettre en vente</a>
        {% else %}
            <span>Mis en vente</span>
            <a href='{{ path('annuler_vente', {'id' : pokemon.id}) }}'>Annuler vente</a>
        {% endif %}
    </div>

    {% if form %}
        {{ form(form, {'method': 'POST'}) }}

        {{ form_start(form) }}
        {{ form_row(form.prix) }}
        {{ form_row(form.submit) }}
        {{ form_end(form) }}
    {% endif %}
{% endblock %}